* {margin:0;padding:0;border:0 none; position: relative;}
*,*:before,*:after {box-sizing:inherit;}
html {
    box-sizing:border-box;
    background: #c6d9d3;
    font-family: Helvetica,Arial,san-serif;
}

@media only screen and (min-width: 800px) {
	.pinGrid {
		display: grid;
		grid-template-columns: repeat(auto-fill,minmax(calc(8rem + 5vw + 5vh),1fr));
		grid-gap: 15px;
		padding: 15px;
    /*
		grid-auto-rows: 1px;
		grid-auto-flow: row;
    */
		grid-auto-rows: repeat(auto-fill);
		grid-auto-flow: dense;
	}
	img {
		width: 100%;
		display: block;
		object-fit: cover;
		box-shadow: 0 0 3px #496b7b;
		border-radius: 5px;
	}
  div.pin {
    counter-increment: numImg;
  }

  div.pin_7645, div.pin_7651, div.pin_7669, div.pin_7651 {
    grid-row: span 2;
  }
  div.pin_7637, div.pin_7638, div.pin_7656, div.pin_7656 {
    grid-row: span 5;
  }

  div.pin_7742, div.pin_7694, div.pin_7699 {
    grid-column: span 2;
  }

}

