{% extends "base.html" %}
{% load staticfiles contrast_color %}

{% block content %}

<h2><a href="{% url "index" %}">Boards</a> > <a href="{% url "board" object.board.id %}">{{ object.board.name }}</a>  > {{ object.id }}</h2>

<div class="pin pin_{{ pin.id }}" style="background-color:{{ pin.color }};">
  <img src="{{ pin.image.url }}" />
  <p style="color:{{ pin.color|contrast_color }};">
    {% if pin.local_note %}
      {{ pin.local_note }}
    {% else %}
      {{ pin.note }} [from pinterest]
    {% endif %}
  </p>
  <p style="color:{{ pin.color|contrast_color }};">
    {{ pin.id }} - <a href="{{ pin.pin_url }}">pinterest</a>{% if pin.source_url %} - <a href="{{ pin.source_url }}">source</a>{% endif %}
  </p>
</div>

{% endblock %}
