html {
  background-color: #eee;
}

.pagination {
	margin: auto;
  text-align: center;
}
.pagination .step-links {
	display: inline-block;
	margin: auto;
}

.pinGridWrapper {
	width: 98%;
	margin: auto;
}

.pinGrid {
	column-count: 2;
	column-gap: 15px;
}

.pin {
	display: inline-block;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 6px 6px -6px #ccc;
	margin: 0 0 15px;
	column-break-inside: avoid;
	width: 260px;
	max-width: 100%;
}

.pin img {
	width: 100%;
	height: auto;
	border-radius: 10px 10px 0 0;
}
.pin h2 {
	font-size: 1.2em;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.pin p {
	padding: 10px;
	color: #333;
}

@media (min-width: 580px) {
	.pinGrid {
		column-count: 3;
	}
}

@media (min-width: 870px) {
	.pinGrid {
		column-count: 4;
	}
}

@media (min-width: 1160px) {
	.pinGrid {
		column-count: 5;
	}
}

@media (min-width: 1450px) {
	.pinGrid {
		column-count: 6;
	}
}
